<form class="autocomplete-form">
  <mat-form-field class="autocomplete-full-width">
    <input type="text" placeholder={{placeholder}} aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto" (change)="onOptionSelected($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>